body{
    background: #008C4F;
}

#cadastro-qrcode h1 {
    font-size: 22px;
    text-align: center;
    color: #FFF;
    border-bottom: solid 1px #FFF;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#cadastro-qrcode .form-control {
    padding: 30px 10px;
    font-size: 18px;
    color: #008c4f;
}

#cadastro-qrcode .btn-default {
    color: #333;
    background-color: #fecd20;
    border-color: #fecd20;
    width: 100%;
    padding: 15px 10px;
    font-size: 25px;
    box-shadow: #0000004f 2px 2px 3px;
}

#cadastro-qrcode label {
    color: #FFF;
    font-weight: normal;
    margin-bottom: 2px;
    font-size: 14px;
}

.logo-bottom-petro {
    width: 40%;
    margin: 100px auto;
    display: block;
    bottom: 0;
}

.logo-ok {
    width: 40%;
    margin: 60px auto 20px;
    display: block;
}

.text-confirm{
    color:#FFFFFF;
    font-size: 18px;
    width: 80%;
    margin: auto;
    display: block;
}